

.slide-active {
    opacity: 1;
    filter: none;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.slide-preview {
    opacity: 0.6;
    filter: blur(2px);
    transform: scale(0.97);
    transition: all 0.3s ease-in-out;

}